$primary-color: #91b237;
$white: #fff;
$primary-gray: #e5e5e5;
$secondary-gray: #929292;

.section-spacer {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 768px) {
  .section-spacer {
    padding-top: 62px;
    padding-bottom: 62px;
  }
}

/* header section */
.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center;
  }
  
  .site-blocks-cover.overflow-hidden {
    overflow: hidden;
  }
  
  .site-blocks-cover,
  .site-blocks-cover > .container > .row {
    height: calc(100vh);
    min-height: 600px;
  }
  .site-blocks-cover.inner-page-cover,
  .site-blocks-cover.inner-page-cover > .container > .row {
    min-height: 400px;
    height: calc(20vh);
  }
  
  .site-blocks-cover h1 {
    font-size: 4rem;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .site-blocks-cover .cover-img {
    border: 20px solid #fff;
    -webkit-box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
  }
  
  .site-blocks-cover .cover-img2 {
    position: absolute;
    bottom: -100px;
    left: -100px;
    max-width: 300px;
    border: 20px solid #fff;
    -webkit-box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.3);
  }
  .site-blocks-cover p {
    color: #999999;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 300;
  }
  
  .site-blocks-cover .intro-text {
    font-size: 16px;
    line-height: 1.5;
  }
  
  @media (min-width: 768px) {
    .site-blocks-cover .cover-img2 {
      -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    .site-blocks-cover .cover-img {
      -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
  
  @media (max-width: 991.98px) {
    .site-blocks-cover .intro-text {
      margin-top: 30%;
    }
    .site-blocks-cover h1 {
      font-size: 2rem;
    }
    .site-blocks-cover {
      font-size: 3rem;
    }
  }
  /* header section end */

/* trending-product section */
.section-title h2 {
  font-size: 30px;
  color: #333333;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.text-center {
  text-align: center !important;
}

@media only screen and (max-width: 575.98px) {
  .section-title h2 {
    font-size: 22px;
  }
}
/* trending-product ends */

/* footer section */
.footer{
    background: $primary-gray;
    color: $secondary-gray;

    h2, h4 {
        color: $primary-color;
    }
    
    .links{
        text-align: center;
        padding-bottom: 20px;
      ul {
          list-style-type: none;
        }
      li a{
        color: $secondary-gray;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color: black;
          }
      }
    }  
    .about-company{
        text-align: center;
      i{
          font-size: 25px;
        }
      a{
        color:white;
        transition: color .2s;
        &:hover{
            color: $primary-color
        }
      }
    } 
    .location{
      i{
          font-size: 18px;
        }
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
  }

/* footer sections end */
