$primary-color: #91b237;
$white: #fff;
$gray: #e5e5e5;



/* floating button */
.fab {
  width: 70px;
  height: 70px;
  background-color: #c82433;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 rgb(158, 157, 157);
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  color: white;
  text-align: center;
  line-height: 70px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 rgb(156, 154, 154);
  transform: scale(1.05);
}


/* input add post */
.input-add {
  margin-left: 10px;
}
.add-post {
  height: 100px;
  width: 400px;
}

/* email and password help id */
.form-text {
  color: $primary-color;
}




